/* Estilo para a página */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(243, 243, 243); /* Fundo levemente cinza */
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: Courier;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 93vw;
  padding: 20px;
  text-align: center;
  position: relative; /* Para permitir a posição do card criar conta */
}

header{
  
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: rgb(21, 68, 121);
  color: rgb(243, 255, 255);
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 5px;
  margin-bottom: 1.5%;
}

h2{
  
  height: 5vh;
  width: 100%;
  background-color: rgb(21, 68, 121);
  color: rgb(243, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 5px;
  margin: 0 0 0 0;
  padding: 0%;
}

.contas-container-wrapper {
  
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: auto;
  scrollbar-color: rgb(21, 68, 121);
}

.contas-container {
  display: flex;
  gap: 20px;
  padding: 0.5% 0 1.5% 0;
  width: 100%;
}

.conta-card {
  background-color: white;
  color: #333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  min-width: 250px; /* Tamanho mínimo para os cartões */
  max-width: 300px;
  text-align: left;
  flex-shrink: 0;
}

.conta-card strong {
  color: #333;
}

.acoes-container-wrapper{
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5% 0 1.5% 0;
}

.acao-card{
  font-size: small;
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  padding: 10px;
  margin-right: 1%;
}

.acao-card button, input, select{
  background-color: rgb(21, 68, 121);
}

.acao-card h3 {
  margin: 1% 0 0 0;
}

.extrato-container-wrapper {
  
  width: 100%;
  background-color: white;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 5px;

  display: flex;
  flex-direction: column; 
  margin-top: 0.5%;
}

.extrato-container-wrapper select {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  background-color: rgb(21, 68, 121);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 5px 5px 0px 0px;
}

.extrato-info{    
  color: #333;
}

.extrato-info table {
  width: 100%;
  border-collapse: collapse;
}

.extrato-info th, .extrato-info td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.extrato-info th {
  background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
  font-weight: bold;
}

.extrato-info tr:nth-child(even) {
  background-color: #f9f9f9; /* Cor levemente diferente nas linhas pares */
}

.extrato-info tr:nth-child(odd) {
  background-color: #ffffff; /* Cor de fundo branca nas linhas ímpares */
}

.extrato-info tr:hover {
  background-color: #ddd; /* Cor de fundo ao passar o mouse */
}
